
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

/* font-family: 'Fredoka', sans-serif;
font-family: 'Lexend', sans-serif;
 */

:root{
  --bg-color:rgb(248, 245, 245);
  --fn-color:#062C30;
  --sn-color:#E2D784;
  --th-color:#05595B;
  --xl-container : 60%;
  --lg-container : 70%;
  --md-container : 80%;
  --sl-container : 90%;
  --xsl-container:100%;
 

}
*{
  padding: 0% !important;
  margin: 0% !important;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
  font-family: 'Lexend';
}

body{
  background-color: white;
  font-family: 'Lexend';
}

h1,h2,h3,h4,h5,h6{
  margin-bottom: 10px !important;
  font-weight: 500;
  color: var(--th-color);
}

p{
  margin-bottom: 10px !important;
  font-weight: 300;
  font-family: 'Lexend';
  color: var(--th-color);
}
button{
  font-family: 'Lexend';
  font-weight:500;
}