.Product-Full-Detail{
    min-height: 10px;
    padding: 50px !important;
    display: flex;
    justify-content:center;
    align-items: center;
    width:80%;
    margin: 0% auto !important;
    flex-wrap: wrap;
}

/* Swiper */
.Product-Image{
    /* width:100%; */
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% auto !important;
}
.swiper{
    z-index: 0;
}
.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 100%;
}
.swiper-slide img{
    width:100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}
.swiper-pagination-bullet{
    margin: 0 5px!important;  
}

@media(max-width:800px){
    .Product-Full-Detail{
        padding: 20px 10px !important;
        width: 100%;
    }
   .Product-Image{
       width: 100%;
   }
   .swiper-slide{
       height: 500px;
   }
}
/* Product Detail */

.Product-Detail{
    padding:  50px !important;
    /* border: 1px solid;  */
    min-height: 100px;
    /* width: 50%; */
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 600px;
}

.Product-Price-Ratings{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* border: 1px solid; */
    margin-bottom: 10px !important;
    flex-wrap: wrap;
}
.Product-Price{
    cursor: pointer;
}
.Product-Rating .fi-rr-star{
    margin: 0 1px !important;
    line-height: 30px;
}
.brief{
    border-top: .5px solid rgba(0, 0, 0, 0.1);
    border-bottom: .5px solid rgba(0, 0, 0, 0.1);
    text-align: justify;
    padding: 20px 0 !important;
}
.product-size{
    display: flex;
    min-height: 40px;
    justify-content:flex-start;
    align-items:center;
    /* border: 1px solid; */
    margin-bottom: 15px !important;
    flex-wrap: wrap;
}
.product-size p{
    font-size: 20px;
    line-height: 30px;
    height: 40px;
}

.product-size .Size-Label{
    margin-left: 20px !important;
    cursor: pointer;
    width: 40px;
    height: 40px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    margin-bottom: 10px !important;
  
}
.Size-Label input[type="radio"]{
    opacity: 0;
    width: 0;
}
.Size-Label input[type="radio"]:focus  {
    background-color:#bfb;
    border-color: #4c4;
}


.User-Buy-Button{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    /* border: 1px solid; */
    margin-bottom: 15px !important;
}

.User-Buy-Button .Buttons-cb{
    width: 140px;
    height: 40px;
    background: transparent;
    border: none;
    background-color: var(--th-color);
    color: var(--bg-color);
    font-weight: 400;
    margin-right: 10px !important;
}
.User-Like-Buttons-Size-Guide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.User-Like-Buttons-Size-Guide i,.User-Like-Buttons-Size-Guide h6{
    color: var(--th-color);
    cursor: pointer;
    margin-right: 5px !important;
}
.User-Like-Buttons-Size-Guide .fi-rr-book{
    margin-left:30px !important;
}

/* Tabs */
.Info-Tabs{
    /* border: 1px solid ; */
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
   
    width: 80%;
    padding: 20px 50px !important;
   
}
.Tab-Head{
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 15px;
    width:100%;
    /* border: 1px solid; */
    margin:0px auto!important;
}
.Tab-Toggle{
    width: 33.34%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--th-color);
    cursor: pointer;
    color: var(--bg-color);
    /* border: 1px solid white; */
}
.Tab-Toggle.is-active{
    background-color: var(--bg-color);
    color: var(--th-color);
}

/* .Tab-Content{
    display: none;
} */
.Tab-Content.is-active{
    display: flex;
}

.Tab-Content .Description{
    /* border: 1px solid; */
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-color);
}
.Description-Content{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--th-color);
}
.Description-Content img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.Description-Content li{
    list-style: circle;
    margin: 10px 30px !important;
    text-align: justify;
}

.Related-Product{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto !important;
   
}
.Title-Related-Product{
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: var(--bg-color);
    margin: 20px 0 !important;
}

@media(max-width:800px){
   .Tab-Head{
       width: 100%;
       flex-wrap: wrap;
   }
    .Info-Tabs{
        width: 100%;
        padding: 20px !important;
    }
    .Tab-Toggle{
        width: 100%;
    }
}